extra-streamlit-components==0.1.71
fuzzywuzzy==0.18.0
Levenshtein==0.26.1
numpy
pandas
python-Levenshtein==0.26.1
scikit-learn
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
streamlit
streamlit-authenticator==0.4.1
streamlit-option-menu==0.4.0
